Django>=5.1.6
djangorestframework
djangorestframework-simplejwt
channels>=4.2.0
channels-redis>=4.2.1
daphne>=4.0.0
asgiref>=3.8.1
psycopg2-binary
python-dotenv
pytz
sqlparse>=0.4.4
django-cors-headers
django-allauth==0.54.0
PyJWT
cryptography>=40.0.2
cffi>=1.15.1
attrs>=23.1.0
celery
gunicorn
Pillow
django-redis==5.4.0
redis==5.0.1
python-dotenv
